@page "/facility/{id?}"

@if (!ValidFacilityId)
{
    <PageTitle>Invalid Facility ID</PageTitle>

    <h1>Invalid Facility ID</h1>

    <p>The Facility ID requested is not valid.</p>
}
else if (FacilityView is null)
{
    <PageTitle>Facility Not Found</PageTitle>

    <h1>Facility Not Found</h1>

    <p>Facility ID @FacilityId!.FacilityId could not be found.</p>
}
else
{
    <PageTitle>Facility @FacilityView.Id</PageTitle>
    <h1>Facility @FacilityView.Id</h1>

    <table class="table table-borderless table-sm">
        <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>@FacilityView.Name</td>
        </tr>
        <tr>
            <th scope="row">County</th>
            <td>@FacilityView.County.Name County</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>@FacilityView.Description</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>
                <AddressDisplay Address="@FacilityView.FacilityAddress" />
            </td>
        </tr>
        </tbody>
    </table>
}
